.text-center {
  text-align: center;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.nw-header {
  color: oColorsGetPaletteColor('white');
  &:hover {
    color: oColorsGetPaletteColor('blue-2');
  }
}
