<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/bundle.css' />
  </head>
  <body>
    {{> header }}
    {{{body}}}
    <script async src='/bundle.js'></script>
  </body>
</html>
